{{#if this.site.mobileView}}
  <span class="btn-custom-header-dropdown-mobile">
    <DButton
      @icon="caret-square-down"
      @title="header_category_dropdown.show_header_links"
      @action={{action this.toggleHeaderLinks}}
    />
  </span>
{{/if}}
{{#if this.showLinks}}
  <ul class="top-level-links">
    {{#each this.headerLinks as |item|}}
      <CustomHeaderLink
        @item={{item}}
        @showHeaderLinks={{this.showLinks}}
        @onClick={{this.toggleHeaderLinks}}
      />
    {{/each}}
  </ul>
{{/if}}